@media (max-width: 575.98px) {
  body {
    font-size: 14px;
  }

  .run-table .run-button,
  .run-table .run-date,
  .run-table .run-user,
  .run-table .run-view,
  .run-table .run-diff,
  .run-table .run-elo,
  .run-table .run-live,
  .run-table .run-info {
    display: inline-flex;
    width: unset !important;
    border-top: 0 !important;
    background: 0 !important;
    box-shadow: none !important;
  }

  .run-table .run-elo {
    display: block;
  }

  .run-table > tbody > tr:nth-of-type(odd) {
    background-color: var(--bs-table-striped-bg);
  }
}

@media (min-width: 992px) {
  .layout {
      display: grid;
      grid-template-areas: "sidebar main";
      grid-template-columns: 180px auto;
  }

  .mainnavbar {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    display: block !important;
    height: calc(100vh - 3.5rem);
    overflow-y: auto
  }

  .run-info,
  .user-repo {
    word-break: break-word;
  }
}

@media (max-width: 991.98px) {
  header .nav-item > * {
    display: flex;
    align-items: center;
  }

  header .nav-item > * i {
    text-align: center;
    width: 24px;
  }

  .links-nav {
      -moz-column-count: 2;
      column-count: 2;
      -moz-column-gap: 0.5rem;
      column-gap: 0.5rem;
  }

  .links-nav .links-group {
      -moz-column-break-inside: avoid;
      break-inside: avoid
  }

  .links-nav .links-group > .list-unstyled {
    font-size: 1em;
  }

  .links-nav .links-group .links-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .offcanvas-body::-webkit-scrollbar {
    display: none
  }
}

.main {
  grid-area: main
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  min-height: 50px;
  border-radius: 20px;
  background-color: #adadad;
  border: 4px solid var(--bs-white);
}

.sticky-top {
  background: var(--bs-body-bg);
}

.btn.btn-sm.btn-light {
  min-width: 53px;
}

.bg-light-primary {
  background-color: rgba(var(--bs-primary-rgb), .15);
  color: var(--bs-primary);
}

.bg-light-secondary {
  background-color: rgba(var(--bs-secondary-rgb), .15);
  color: var(--bs-secondary);
}

/* Confirm deny button */
.run-deny .dropdown-menu.show {
  min-width: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

a {
  color: #008002;
  text-decoration: none;
}

a:hover {
  color: #5f9960;
}

a:focus {
  color: #497449;
}

.main .default-net {
  background-color: palegreen !important;
}

.main .default-net a {
  color: black;
}

h2,
h3,
h4 {
  font-weight: bold;
}

legend {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.elo-results {
  background: #f5f5f5;
  font-size: 12px;
  margin: 2px;
  padding: 1px;
  line-height: 13px;
  padding: 3px;
}

.elo-results-top {
  display: inline-block;
}

.elo-results-top .rounded.elo-results {
  font-size: 14px;
  line-height: normal;
}

.checkbox.inline {
  margin-left: 20px;
  margin-right: 0;
}

#non_default-button {
  margin-bottom: 8px;
}

.run-date,
.run-diff {
  text-align: center;
}

/* Left navigation */
.mainnavbar {
  background-color: var(--bs-gray-300);
  grid-area: sidebar;
}

.mainnavbar::-webkit-scrollbar {
  width: 8px;
}

.mainnavbar::-webkit-scrollbar-thumb {
  border: 2px solid var(--bs-gray-300);
}

.mainnavbar::-webkit-scrollbar-track {
  background-color: var(--bs-gray-300);
}

.main::-webkit-scrollbar-thumb {
  border: 4px solid var(--bs-body-bg);
}

.main::-webkit-scrollbar-track {
  background-color: var(--bs-body-bg);
}

#change-color-theme:hover {
  cursor: pointer;
}

/* Icons */
.mainnavbar a::before,
#diff-num-comments + a::before,
#copy-diff::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 18px;
  text-align: center;
  margin-right: 4px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.mainnavbar [href="/tests"]::before {
  content: "\f00b";
}

.mainnavbar [href="/tests/finished?success_only=1"]::before {
  content: "\f14a";
}

.mainnavbar [href="/tests/finished?yellow_only=1"]::before {
  content: "\f3fd";
}

.mainnavbar [href="/tests/finished?ltc_only=1"]::before {
  content: "\f017";
}

.mainnavbar [href^="/tests/user/"]::before {
  content: "\f0c3";
}

.mainnavbar [href="/tests/run"]::before {
  content: "\f067";
}

.mainnavbar [href="/upload"]::before {
  content: "\f093";
}

.mainnavbar [href="/users"]::before {
  content: "\f0c0";
}

.mainnavbar [href="/users/monthly"]::before {
  content: "\f091";
}

.mainnavbar [href="/actions"]::before {
  content: "\f46d";
}

.mainnavbar [href^="https://cloud.mongodb.com/freemonitoring/cluster/"]::before
{
  content: "\f21e";
}

.mainnavbar [href="/nns"]::before {
  content: "\f5dc";
}

.mainnavbar [href^="/sprt_calc"]::before {
  content: "\f1ec";
}

.mainnavbar [href="https://github.com/glinscott/fishtest"]::before
{
  content: "\f441";
}

.mainnavbar [href="https://github.com/glinscott/nnue-pytorch"]::before
{
  content: "\f3e2";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.mainnavbar [href="https://github.com/official-stockfish/books"]::before
{
  content: "\f02d";
}

.mainnavbar [href="https://github.com/official-stockfish/Stockfish"]::before
{
  content: "\f578";
}

.mainnavbar [href="https://github.com/glinscott/fishtest/wiki"]::before
{
  content: "\f266";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.mainnavbar [href="https://groups.google.com/g/fishcooking"]::before
{
  content: "\f086";
}

.mainnavbar [href="https://groups.google.com/g/fishcooking-results"]::before
{
  content: "\f1da";
}

.mainnavbar [href="https://hxim.github.io/Stockfish-Evaluation-Guide/"]::before
{
  content: "\f518";
}

.mainnavbar [href="https://github.com/glinscott/fishtest/wiki/Regression-Tests"]::before
{
  content: "\f201";
}

.mainnavbar [href="https://abrok.eu/stockfish/"]::before
{
  content: "\f019";
}

.mainnavbar [href="https://stockfishchess.org/download/"]::before
{
  content: "\f019";
}

.mainnavbar [href="https://stockfishchess.org/get-involved/"]::before
{
  content: "\f4c4";
}

.mainnavbar [href="https://discord.gg/awnh2qZfTT"]::before
{
  content: "\f392";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.mainnavbar [href="/signup"]::before {
  content: "\f234";
}

.mainnavbar [href="/login"]::before {
  content: "\f2f6";
}

.mainnavbar [href="/user"]::before {
  content: "\f007";
}

.mainnavbar [href="/logout"]::before {
  content: "\f2f5";
}

.mainnavbar [href="/pending"]::before {
  content: "\f4fd";
}

.mainnavbar #change-color-theme #sun::before {
  content: "\f185";
}

.mainnavbar #change-color-theme #moon::before {
  content: "\f186";
}

#diff-num-comments + a::before {
  content: "\f09b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

#copy-diff::before {
  content: "\f328";
}

/* Header */
header.navbar {
  background-color: var(--bs-light);
  z-index: 1030;
}

.brand-logo {
  background-image: url(../img/stockfish.png);
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 40px;
}

/* Links in the left navigation */
.links-heading {
  color: #2e2e2e;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0.5rem;
}

.links-group .links-link {
  display: flex;
  color: var(--bs-gray-800);
  text-decoration: none;
  padding: 4px 4px 4px 12px;
  border-radius: 0.25rem;
}

.links-group .links-link:hover {
  background: var(--bs-light);
  color: var(--bs-body-color);
}

th {
  cursor: pointer;
}

td {
  border-color: transparent;
  vertical-align: middle;
}

.run-view {
  word-break: break-word;
  min-width: 100px;
}

/* tests_view page */
.spsa-param-row td:first-child {
  text-align: left;
}

#machines {
  max-height: 45vh;
}

#diff-contents {
  max-height: 70vh;
}

#tasks {
  max-height: 60vh;
  margin-bottom: 12px;
}

/* Background colors for running tasks on test run pages */
.table tbody tr.info > td {
  background-color: #cff4fc;
}

/* Pagination links */
.page-link {
  color: var(--bs-gray-700);
  transition: 0.1s;
  user-select: none;
}

.page-link:hover,
.page-link:focus {
  color: var(--bs-gray-900);
  transition: 0.1s;
}

.pagination li.disabled .page-link,
.pagination li.disabled .page-link:hover {
  color: rgb(153, 153, 153) !important;
  background: transparent !important;
}

.pagination li.active .page-link {
  color: rgb(153, 153, 153);
  background: rgb(245, 245, 245);
}

.pagination li:not(.active) .page-link:hover {
  background-color: #f5f5f5;
}

.pagination > li:first-child a {
  border-radius: 0.25rem 0 0 0.25rem;
}

.pagination > li:last-child a {
  border-radius: 0 0.25rem 0.25rem 0;
}

option.grayedoutoption {
  background-color: LightGray;
}

.col-limited-size {
  max-width: 450px;
  margin: 0 auto 30px auto;
}
