/* A custom dark color theme for overriding bootstrap css rules */

body {
  background: #111;
  color: #b1ada7;
}

a {
  color: #3ba9e0;
}

a:hover, a:focus {
  color: #e1ffff;
}

.btn-link {
  color: #63daff;
}

.btn {
  text-shadow: none;
  filter: contrast(0.6);
}

.btn:focus {
  outline: none;
}

.form-control {
  background-color: #b1ada7;
}

.hljs {
  filter: contrast(0.7);
}

legend {
  color: #b1ada7;
}

hr {
  border-top: 1px solid #444;
  border-bottom: 1px solid #333;
}

/* Left-side main navigation sidebar */
.nav-header {
  color: #b1ada7;
}

.nav-list>li>a, .nav-list .nav-header {
  text-shadow: 0 1px 0 rgba(10, 10, 10, 0.5);
}

.nav>li>a:hover, .nav>li>a:focus {
  background: #222;
}

/* Tables */
.table {
  color: #b1ada7;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
  background-color: #222;
}

.table th, .table td {
  color: #b1ada7;
  border-top: 1px solid #444;
}

.table th {
  border-bottom-color: #444 !important;
}

tbody, td, tfoot, th, thead, tr {
  border-color: #444;
}

/* Background colors for running tasks on test run pages */
.table tbody tr.info>td {
  background-color: #0f3373;
}

/* Text inputs and selects */
textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input {
  background: #444;
  border: 1px solid #101010;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus,
input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus {
  color: #b1ada7;
  background: #444;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(106 216 241 / 60%);
}

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input {
  color: #b1ada7;
}

select {
  border: 1px solid #555;
  background-color: #333;
}

select:focus, input[type="file"]:focus,
input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.5);
}

/* Button groups */
.btn-group>.btn:not(.btn-info) {
  background: #2f2f2f;
  border-color: #333;
  color: white;
}

/* Pagination links */
.pagination li .page-link {
  color: #3ba9e0;
  background-color: #111;
  border-color: #292929;
}

.pagination li.disabled .page-link {
  color: #999;
  background: transparent;
}

.pagination li.active .page-link {
  color: #999;
  background: #333;
}

.pagination li:not(.active) .page-link:hover {
  background-color: #444;
  color: white;
}

/* Override - test tasks table - purged tasks red background */
td[style*="background-color:#ffebeb"] {
  background: #5f1c1c !important;
}

/* Override - test tasks table - residuals green */
td[style*="background-color:#44EB44"] {
  background: #108e10 !important;
}

/* Override - test tasks table - residuals yellow */
td[style*="background-color:yellow"] {
  background: #828a04 !important;
}

/* Override - test tasks table - residuals red */
td[style*="background-color:#FF6A6A"] {
  background: #d65252 !important;
}

/* Override - "green" description text in /nns page */
span[style*="background-color:palegreen"] {
  color: #111;
}

/* Darken white box */
pre[style*="white-space:nowrap"] {
  background: #333333 !important;
  color: #b1ada7 !important;
}

/* Darker yellow */
pre[style*="background-color:yellow"] {
  background: #ffff00cc !important;
  color: #333333 !important;
}

/* Darker red */
pre[style*="background-color:#FF6A6A"] {
  background: #ff6a6acc !important;
  color: #333333 !important;
}

/* Darker green */
pre[style*="background-color:#44EB44"] {
  background: #42eb42cc !important;
  color: #333333 !important;
}

/* Darker blue */
pre[style*="background-color:#66CCFF"] {
  background: #66ccffcc !important;
  color: #333333 !important;
}

/* Darken pink border */
pre[style*="border-color:Pink"] {
  border-color: #ffc0cb6e !important;
}
