*~
*.egg-info
*.pyc
__pycache__
.python-version
.mypy_cache/
.ruff_cache/
env/
.env/
venv/
.venv/
.DS_Store
.vs/
.vscode/
worker/api.log*
worker/fish.exit
worker/fishtest.cfg
worker/_testing_*/
worker/testing/
worker/*worker.lock
