name: CI server

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]
    defaults:
      run:
        working-directory: server

    steps:
      - uses: actions/checkout@v6

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: "8.0"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv with cache
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Sync project
        run: uv sync --group test

      - name: Run server tests
        run: uv run python -m unittest discover -vb -s tests
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
