name: CI worker msys2

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  test:
    runs-on: windows-latest
    env:
      PYTHONPATH: ${{ github.workspace }}/worker/packages
    strategy:
      fail-fast: false
      matrix:
        include:
          - { sys: mingw64, env: x86_64,       comp: gcc }
          - { sys: ucrt64,  env: ucrt-x86_64,  comp: gcc }
          - { sys: clang64, env: clang-x86_64, comp: clang }
    defaults:
      run:
        shell: msys2 {0}
        working-directory: worker

    steps:
      - uses: actions/checkout@v6

      - name: Setup msys and install required packages
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: ${{ matrix.sys }}
          install: >-
            make
            mingw-w64-${{ matrix.env }}-python3
            mingw-w64-${{ matrix.env }}-${{ matrix.comp }}

      - name: Run worker tests
        run: python -m unittest discover -vb -s tests
