name: CI worker posix

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    env:
      PYTHONPATH: ${{ github.workspace }}/worker/packages
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            python-version: "3.8"
          - os: ubuntu-24.04
            python-version: "3.9"
          - os: ubuntu-24.04
            python-version: "3.10"
          - os: ubuntu-24.04
            python-version: "3.11"
          - os: ubuntu-24.04
            python-version: "3.12"
          - os: ubuntu-24.04
            python-version: "3.13"
          - os: macos-15
            python-version: "3.8"
          - os: macos-15
            python-version: "3.9"
          - os: macos-15
            python-version: "3.10"
          - os: macos-15
            python-version: "3.11"
          - os: macos-15
            python-version: "3.12"
          - os: macos-15
            python-version: "3.13"
          - os: macos-15-intel
            python-version: "3.8"
          - os: macos-15-intel
            python-version: "3.9"
          - os: macos-15-intel
            python-version: "3.10"
          - os: macos-15-intel
            python-version: "3.11"
          - os: macos-15-intel
            python-version: "3.12"
          - os: macos-15-intel
            python-version: "3.13"
    defaults:
      run:
        working-directory: worker

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run worker tests
        run: python -m unittest discover -vb -s tests
