{% extends "base.html.j2" %}

{% block title %}Events Log | Stockfish Testing{% endblock %}

{% block body %}
{% set action_filter = action_param if action_param is defined else (filters.action if filters is defined and filters.action is defined else "") %}
{% set username_filter = username_param if username_param is defined else (filters.username if filters is defined and filters.username is defined else "") %}
{% set text_filter = text_param if text_param is defined else (filters.text if filters is defined and filters.text is defined else "") %}
<h2>Events Log</h2>

<form class="row mb-3" action="/actions" hx-get="/actions" hx-target="#actions-content" hx-push-url="true" hx-swap="innerHTML">
  <div class="col-12 col-md-auto mb-3">
    <label for="restrict" class="form-label">Show only</label>
    <select id="restrict" class="form-select" name="action">
      <option value="" {{ 'selected' if action_filter == '' else '' }}>All</option>
      <option value="new_run" {{ 'selected' if action_filter == 'new_run' else '' }}>New Run</option>
      <option value="approve_run" {{ 'selected' if action_filter == 'approve_run' else '' }}>Approve Run</option>
      <option value="modify_run" {{ 'selected' if action_filter == 'modify_run' else '' }}>Modify Run</option>
      <option value="stop_run" {{ 'selected' if action_filter == 'stop_run' else '' }}>Stop Run</option>
      <option value="delete_run" {{ 'selected' if action_filter == 'delete_run' else '' }}>Delete Run</option>
      <option value="purge_run" {{ 'selected' if action_filter == 'purge_run' else '' }}>Purge Run</option>
      <option value="finished_run" {{ 'selected' if action_filter == 'finished_run' else '' }}>Finished Runs</option>
      <option value="block_user" {{ 'selected' if action_filter == 'block_user' else '' }}>Block/Unblock User</option>
      <option value="block_worker" {{ 'selected' if action_filter == 'block_worker' else '' }}>Block/Unblock Worker</option>
      <option value="accept_user" {{ 'selected' if action_filter == 'accept_user' else '' }}>Accept User</option>
      <option value="upload_nn" {{ 'selected' if action_filter == 'upload_nn' else '' }}>Upload NN file</option>
      <option value="failed_task" {{ 'selected' if action_filter == 'failed_task' else '' }}>Failed Tasks</option>
      <option value="crash_or_time" {{ 'selected' if action_filter == 'crash_or_time' else '' }}>Crashes or Time losses</option>
      <option value="log_message" {{ 'selected' if action_filter == 'log_message' else '' }}>Log Messages</option>
      <option value="dead_task" class="grayedoutoption" {{ 'selected' if action_filter == 'dead_task' else '' }}>Dead Tasks</option>
      <option value="system_event" class="grayedoutoption" {{ 'selected' if action_filter == 'system_event' else '' }}>System Events</option>
    </select>
  </div>

  <div class="col-12 col-md-auto mb-3">
    <label for="user" class="form-label">From user</label>
    <input
      id="user"
      class="form-control"
      autocomplete="off"
      placeholder="Search by username"
      type="text"
      name="user"
      list="users-list"
      value="{{ username_filter }}"
    >
    <datalist id="users-list">
      {% for username in usernames %}
        <option value="{{ username }}">{{ username }}</option>
      {% endfor %}
    </datalist>
  </div>

  <div class="col-12 col-md-auto mb-3">
    <label for="text" class="form-label">Free text search</label>
    <i
      class="fa-solid fa-circle-info"
      role="button"
      data-bs-toggle="modal"
      data-bs-target="#autoselect-modal"
    ></i>
    <div
      class="modal fade"
      id="autoselect-modal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Free text search information</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-break">
            This will perform a case insensitive text search on the fields event
            name, user name, worker name, target user, network name, branch name
            and comment. One can only search for a list of full words, i.e.
            strings bounded by delimiters. For example the worker name
            <i>fishtestfan-128cores-abcdefgh-uvwx</i> matches <i>abcdefgh</i> but
            not <i>abcde</i>. To force a word or a combination of words to be
            included in the result, use quotes like in <i>&quot;dog cat&quot;</i>.
            To exclude a word, precede it with a minus sign like in
            <i>dog &minus;cat</i>. For more information see
            <a
              href="https://www.mongodb.com/docs/manual/reference/operator/query/text/#mongodb-query-op.-text"
            >
              https://www.mongodb.com/docs/manual/reference/operator/query/text/#mongodb-query-op.-text
            </a>.
          </div>
        </div>
      </div>
    </div>

    <input
      id="text"
      class="form-control"
      placeholder="Enter some text"
      type="text"
      name="text"
      value="{{ text_filter }}"
    >
  </div>

  <div class="col-12 col-md-auto mb-3 d-flex align-items-end">
    <button type="submit" class="btn btn-success w-100">Search</button>
  </div>
</form>

<div id="actions-content">
  {% include "actions_content_fragment.html.j2" %}
</div>
{% endblock %}
