{% extends "base.html.j2" %}

{% set is_monthly = is_monthly if is_monthly is defined else false %}
{% set monthly_suffix = monthly_suffix if monthly_suffix is defined else "" %}

{% block title %}Contributors{{ monthly_suffix }} | Stockfish Testing{% endblock %}

{% block body %}
<script>
  (async () => {
    await DOMContentLoaded();
    const originalTable = document
      .getElementById("contributors_table")
      .cloneNode(true);

    const originalRows = Array.from(originalTable.querySelectorAll("tbody tr"));

    const includes = (row, inputValue) => {
      const cells = Array.from(row.querySelectorAll("td"));
      return cells.some((cell) => {
        const cellText = cell.textContent || cell.innerText;
        return cellText.toLowerCase().indexOf(inputValue) > -1;
      });
    };

    const searchInput = document.getElementById("search_contributors");
    searchInput.addEventListener("input", (e) => {
      filterTable(e.target.value, "contributors_table", originalRows, includes);
    });
  })();
</script>

<h2> Contributors{{ monthly_suffix }} </h2>

<div class="row g-3 mb-3">
  <div class="col-6 col-sm">
    <div class="card card-lg-sm text-center">
      <div class="card-header text-nowrap" title="Testers">Testers</div>
      <div class="card-body">
        <h4 class="card-title mb-0 monospace">
          {{ summary.testers }}
        </h4>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm">
    <div class="card card-lg-sm text-center">
      <div class="card-header text-nowrap" title="Developers">Developers</div>
      <div class="card-body">
        <h4 class="card-title mb-0 monospace">
          {{ summary.developers }}
        </h4>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm">
    <div class="card card-lg-sm text-center">
      <div class="card-header text-nowrap" title="Active testers">Active testers</div>
      <div class="card-body">
        <h4 class="card-title mb-0 monospace">
          {{ summary.active_testers }}
        </h4>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm">
    <div class="card card-lg-sm text-center">
      <div class="card-header text-nowrap" title="CPU years">CPU years</div>
      <div class="card-body">
        <h4 class="card-title mb-0 monospace">
          {{ "{0:.2f}".format(summary.cpu_hours / (24 * 365)) }}
        </h4>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm">
    <div class="card card-lg-sm text-center">
      <div class="card-header text-nowrap" title="Games played">Games played</div>
      <div class="card-body">
        <h4 class="card-title mb-0 monospace">
          {{ summary.games }}
        </h4>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm">
    <div class="card card-lg-sm text-center">
      <div class="card-header text-nowrap" title="Tests submitted">Tests submitted</div>
      <div class="card-body">
        <h4 class="card-title mb-0 monospace">
          {{ summary.tests }}
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="row g-3 mb-1">
  <div class="col-12 col-md-auto">
    <label class="form-label">Search</label>
    <input
      id="search_contributors"
      class="form-control"
      placeholder="Search some text"
      type="text"
    >
  </div>
</div>

<div class="table-responsive-lg">
  <table id="contributors_table" class="table table-striped table-sm">
    <thead class="sticky-top">
      <tr>
        <th></th>
        <th>Username</th>
        <th class="text-end">Last active</th>
        <th class="text-end">Games/Hour</th>
        <th class="text-end">CPU Hours</th>
        <th class="text-end">Games played</th>
        <th class="text-end">Tests submitted</th>
        <th>Tests repository</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td class="rank">{{ loop.index }}</td>
          <td>
          {% if user.user_url %}
            <a href="{{ user.user_url }}"> {{ user.username }} </a>
          {% else %}
            {{ " " ~ user.username ~ " " }}
          {% endif %}
          </td>
          <td data-sort-value="{{ user.last_updated_sort }}" class="text-end">{{ user.last_updated_label }}</td>
          <td class="text-end">{{ user.games_per_hour }}</td>
          <td class="text-end">{{ user.cpu_hours }}</td>
          <td class="text-end">{{ user.games }}</td>
          <td class="text-end">
            <a href="{{ user.tests_user_url }}">{{ user.tests }} </a>
          </td>
          <td class="user-repo">
            <a href="{{ user.tests_repo_url }}" target="_blank" rel="noopener">{{ user.tests_repo_url }}</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan=20>No users exist</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
