<div id="homepage-stats" hx-swap-oob="innerHTML">
  <div class="row g-3 mb-3">
    <div class="col-6 col-sm">
      <div class="card card-lg-sm text-center">
        <div class="card-header text-nowrap" title="Cores">Cores</div>
        <div class="card-body">
          <h4 class="card-title mb-0 monospace">{{ cores }}</h4>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm">
      <div class="card card-lg-sm text-center">
        <div class="card-header text-nowrap" title="Nodes per second">Nodes / sec</div>
        <div class="card-body">
          <h4 class="card-title mb-0 monospace">{{ nps_m }}</h4>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm">
      <div class="card card-lg-sm text-center">
        <div class="card-header text-nowrap" title="Games per minute">Games / min</div>
        <div class="card-body">
          <h4 class="card-title mb-0 monospace">{{ games_per_minute }}</h4>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm">
      <div class="card card-lg-sm text-center">
        <div class="card-header text-nowrap" title="Time remaining">Time remaining</div>
        <div class="card-body">
          <h4 class="card-title mb-0 monospace">{{ pending_hours }}h</h4>
        </div>
      </div>
    </div>
  </div>
</div>
