{% extends "base.html.j2" %}

{% block title %}Neural Network Repository | Stockfish Testing{% endblock %}

{% block body %}
{% set filter_source = filters if filters is defined else {} %}
{% if filter_source is mapping %}
  {% set network_name_filter = filter_source.get('network_name', '') %}
  {% set user_filter = filter_source.get('user', '') %}
  {% set master_only = filter_source.get('master_only', False) %}
{% else %}
  {% set network_name_filter = filter_source.network_name %}
  {% set user_filter = filter_source.user %}
  {% set master_only = filter_source.master_only %}
{% endif %}
<h2>Neural Network Repository</h2>

<p>
  These networks are freely available for download and sharing under a
  <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a> license.<br><br>
  Nets colored <span class="default-net">green</span> in the table have passed fishtest testing
  and achieved the status of <i>default net</i> during the development of Stockfish.<br><br>
  The recommended net for a given Stockfish executable can be found as the default value of the EvalFile UCI option.
</p>

<form class="row mb-3" id="search_nn" action="/nns" hx-get="/nns" hx-target="#nns-content" hx-push-url="true" hx-swap="innerHTML">
  <div class="col-12 col-md-auto mb-3">
    <label for="network_name" class="form-label">Network</label>
    <input
      id="network_name"
      type="text"
      name="network_name"
      class="form-control"
      placeholder="Network name"
      value="{{ network_name_filter }}"
    >
  </div>

  <div class="col-12 col-md-auto mb-3">
    <label for="user" class="form-label">Uploaded by</label>
  <input
    id="user"
    type="text"
    name="user"
    class="form-control"
    placeholder="Username"
    value="{{ user_filter }}"
  >
  </div>

  <div class="col-12 mb-3 d-flex align-items-end">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="master_only">Only master</label>
      <input
        type="checkbox"
        class="form-check-input"
        id="master_only"
        name="master_only" {{ 'checked' if master_only else '' }}
      >
    </div>
  </div>

  <div class="col-12 col-md-auto mb-3 d-flex align-items-end">
    <button type="submit" class="btn btn-success w-100">Search</button>
  </div>
</form>

<div id="nns-content">
  {% include "nns_content_fragment.html.j2" %}
</div>

<script>
  document
    .getElementById("search_nn")
    .addEventListener("submit", () => {
      const masterOnly = document.getElementById("master_only");
      document.cookie =
        "master_only" + "=" + masterOnly.checked + "; max-age={{ 60 * 60 * 24 * 365 * 10 }}; SameSite=Lax";
    });
</script>
    {% endblock %}
