{% set pagination_hx_target = "nns-content" %}
{% set pagination_hx_push_url = true %}

{% with pages=pages %}
  {% include "pagination.html.j2" %}
{% endwith %}

<div class="table-responsive-lg">
  <table class="table table-striped table-sm">
    <thead class="sticky-top">
      <tr>
        <th>Time</th>
        <th>Network</th>
        <th>Username</th>
        <th>First test</th>
        <th>Last test</th>
        <th style="text-align:right">Downloads</th>
      </tr>
    </thead>
    <tbody>
      {% for nn in nns %}
        {% set nn_is_master = nn.get('is_master', false) if nn is mapping else (nn.is_master if nn.is_master is defined else false) %}
        {% if not master_only or nn_is_master %}
          <tr>
            <td>{{ nn.time_label }}</td>
            {% if nn_is_master %}
              <td class="default-net">
            {% else %}
              <td>
            {% endif %}
            <a href="{{ nn.name_url }}" style="font-family:monospace">{{ nn.name }}</a></td>
            <td>{{ nn.user }}</td>
            <td>
              {% if nn.first_test_url %}
                <a href="{{ nn.first_test_url }}">{{ nn.first_test_label }}</a>
              {% else %}
                {{ nn.first_test_label }}
              {% endif %}
            </td>
            <td>
              {% if nn.last_test_url %}
                <a href="{{ nn.last_test_url }}">{{ nn.last_test_label }}</a>
              {% else %}
                {{ nn.last_test_label }}
              {% endif %}
            </td>
            <td style="text-align:right">{{ nn.downloads }}</td>
          </tr>
        {% endif %}
      {% else %}
        <tr>
          <td colspan=20>No nets available</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% with pages=pages %}
  {% include "pagination.html.j2" %}
{% endwith %}
