{% extends "base.html.j2" %}

{% block title %}{{ username }} | Stockfish Testing{% endblock %}

{% block body %}
<h2>
{% if is_approver %}
  <a href="/user/{{ username }}">{{ username }}</a> - Tests
{% else %}
  {{ username }} - Tests
{% endif %}
</h2>

{% if run_tables_ctx is defined %}
  {% with
    pending_approval_runs=run_tables_ctx.pending_approval_runs,
    paused_runs=run_tables_ctx.paused_runs,
    active_runs=run_tables_ctx.active_runs,
    failed_runs=run_tables_ctx.failed_runs,
    finished_runs=run_tables_ctx.finished_runs,
    num_finished_runs=run_tables_ctx.num_finished_runs,
    finished_runs_pages=run_tables_ctx.finished_runs_pages,
    page_idx=run_tables_ctx.page_idx,
    prefix=run_tables_ctx.prefix,
    toggle_states=run_tables_ctx.toggle_states,
    finished_title_text=run_tables_ctx.finished_title_text,
    show_gauge=run_tables_ctx.show_gauge
  %}
    {% include "run_tables.html.j2" %}
  {% endwith %}
{% else %}
  {% include "run_tables.html.j2" %}
{% endif %}
{% endblock %}
