<h2>
  Finished Tests
  {% if filters.success_only %}
    - Greens
  {% elif filters.yellow_only %}
    - Yellows
  {% elif filters.ltc_only %}
    - LTC
  {% endif %}
</h2>

<div id="tests-finished-filters" class="mb-2 filter-tabs">
  {% with base_url='/tests/finished', hx_target='tests-finished-content', filters=filters %}
    {% include "tests_filter_tabs_fragment.html.j2" %}
  {% endwith %}
</div>

{% set pagination_hx_target = "tests-finished-content" %}
{% set pagination_hx_push_url = true %}

{% with
  runs=finished_runs,
  header='Finished',
  count=num_finished_runs,
  pages=finished_runs_pages,
  title_text=title_text,
  toggle=None,
  toggle_state='Show',
  page_idx=0,
  username="",
  show_gauge=show_gauge
%}
  {% include "run_table.html.j2" %}
{% endwith %}
