{% extends "base.html.j2" %}

{% block title %}Finished Tests{{ title }} | Stockfish Testing{% endblock %}
{% block body %}
<div id="tests-finished-content">
  {% include "tests_finished_content_fragment.html.j2" %}
</div>
{% endblock %}
