{% extends "base.html.j2" %}

{% block title %}{{ username }} | Stockfish Testing{% endblock %}

{% block body %}
<div id="tests-user-content">
  {% include "tests_user_content_fragment.html.j2" %}
</div>
{% endblock %}
