{% if blocked_workers | length == 0 %}
  <tr>
    <td colspan="{{ 4 if show_email else 3 }}">No blocked workers</td>
  </tr>
{% else %}
  {% for w in blocked_workers %}
    {% set blocked_worker_name = w["worker_name"] %}
    <tr>
      <td><a href="/workers/{{ blocked_worker_name }}">{{ blocked_worker_name }}</a></td>
      <td>{{ w.last_updated_label }}</td>
      <td>
        <a href="{{ w.actions_url }}">/actions?text="{{ blocked_worker_name }}"</a>
      </td>
      {% if show_email %}
        <td>
          <a href="{{ w.mailto_url }}" target="_blank" rel="noopener noreferrer">{{ w.owner_email }}</a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
{% endif %}
